[submodule "gitutils"]
	path = gitutils
	url = git://github.com/chaitanyagupta/gitutils.git
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug.git
