/********************************************************************************
 *  Copyright (C) 2010 - Samir Faci
 *
 * This program is distributed under the terms of 
 * the GNU General Public License version 2 
 *
 * This software is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
********************************************************************************/
#include <iostream>
#ifdef H_CLASS
#define H_CLASS
class hello
{
    public:
        hello();
    private:
        hello(const hello & );
};
#endif
